<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title
      -- Marko redux
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    meta charset='utf-8'
    lasso-head
  body
    root preloadedState=state.preloadedState
    script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
    lasso-body
