class {
  increment () {
    this.emit('increment')
  }
  decrement () {
    this.emit('decrement')
  }
}

h3 -- Counter ${input.count}

button onClick('increment') -- Increment
button onClick('decrement') -- Decrement
